<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Victus - Cadastro</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" method="post" enctype="multipart/form-data" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Crie sua conta no <strong>Victus</strong></h3>
              <p class="mb-4">Junte pontos reciclando e vá em eventos!</p>
            </div>
            <form action="register-user.php" method="post">
              <div class="form-group first">
                <label for="username">Email</label>
                <input type="text" name="email" class="form-control" id="username">

              </div>
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" name="name" class="form-control" id="name">

              </div>
              <div class="form-group cpf-mask">
                <label for="CPF">CPF</label>
                <input type="text" name="CPF" class="form-control" id="CPF">

              </div>
              <div class="form-group last mb-4">
                <label for="password">Senha</label>
                <input type="password" name="password" class="form-control" id="password">
                
              </div>
              <div class="form-group last mb-4">
                <label for="confirm-password">Confirmar Senha</label>
                <input type="password" name="confirm-password" class="form-control" id="confirm-password">
                
              </div>
              <p>Data de Nascimento</p>
              <div class="form-row">

                <div class="form-group col-md-3">
                  <label for="day">Dia</label>
                  <input type="number" name="day" class="form-control" id="day">
  
                </div>
                <div class="form-group col-md-3">
                  <label for="month">Mês</label>
                  <input type="number" name="month" class="form-control" id="month">
  
                </div>
                <div class="form-group col-md-6">
                  <label for="year">Ano</label>
                  <input type="number" name="year" class="form-control" id="year">
  
                </div>
              </div>
              
              <div class="d-flex mb-5">
                <label class="control control--checkbox mb-0"><span class="caption">Lembre-se de mim</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto">
                  <a href="#" class="forgot-pass">Esqueceu a senha?</a> <br />
                  <a href="#" class="forgot-pass">É uma empresa?</a>  <br />
                  <a href="#" class="forgot-pass">É um ponto de coleta?</a> <br />
                  <a href="#" class="forgot-pass">Quer ser premium?</a>
                </span>

              </div>

              <input type="submit" value="Criar conta" class="btn text-black btn-block btn-light">

            
              </div>
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>